@page "/"
@{
    ViewData["Title"] = "End to End Quoting";
}
<h1>Choose a Customer</h1>

<div class="form-row">
    <label for="customer">Select a customer:</label>
    <span>
        <select id="customer">
            <option>Please select...</option>
        </select>
    </span>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}